
#sortering-container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.scroll-knap {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    flex-shrink: 0;

    transition: 0.5s ease-in-out;
}

.scroll-knap:hover {
    transform: scale(1.1);
}

.scroll-knap img {
    width: 60%;
}

#sortering{
    display: flex;
    gap: 0.5rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    flex: 1;
    padding: 0.5rem;
    margin: 0;
}

#sortering button{
    background-color: #B08968;
    color: #000;
    border: solid 2px #000;
    padding: 0.5rem 1.8rem;
    font-size: 1rem;
    border-radius: 40px;
    margin: auto;
    cursor: pointer;
    flex-shrink: 0; /*så knapperne ikke bliver mindre*/
}

#sortering button:hover{
    background-color: #6f4e37;
    color: #fff;
    border: solid 2px #fff;
    box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.5);
}

#sortering button.active {
    background-color: #6f4e37;
    color: #fff;
    border: solid 2px #fff;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}


/*-----produktkort-----*/
#produkter {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.produkt-kort {
    display: block;
    text-decoration: none;

    background: #6f4e37;
    color: #fff;
    text-align: left;
    width: 32%;
    margin-bottom: 1.5rem;
}



.produkt-kort img {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
    object-fit: cover;
}

.produkt-info {
    padding: 0 1rem 1rem 1rem;
    font-family: 'roboto', sans-serif;
}

.produkt-info p {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.produkt-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

/* generelle regler*/

html{
    font-size: 16px;
    font-family: 'roboto', sans-serif;
}

@media (max-width: 600px) {

    #sortering-container{
        width: 100%;

    }

    /*for produktkortene*/

    .produkter {
        padding: 2rem; 
        gap: 1rem;
    }

    .produkt-kort {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(50% - 0.5rem); /* sørger for at de hver fylder halvdelen og at der er plads imellem*/
        margin-bottom: 1rem;
        transition: none;
    }

    .produkt-kort img {
        height: 250px; 
        transition: none;
    }

    .produkt-kort:hover{
        transform: none;
        filter: none;
        box-shadow: none;
    }

    .produkt-info p {
        font-size: 0.78rem;
    }

    .produkt-info-top {
        font-size: 0.8rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .produkt-kort .produkt-info-top:hover {
        text-decoration: none;
    }
}